<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tapahtuman Hallinta</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Tapahtuman Hallinta</h1>
        <h2>Palvelinohjelmoinnin harjoitustyö</h2>
        <ul>
            <li><a th:href="@{/events}">Katso kaikki tapahtumat</a></li>
            <li><a th:href="@{/events/new}">Lisää uusi tapahtuma</a></li>
            <li><a th:href="@{/categories}">Näytä tapahtuma kategoriat</a></li>
        </ul>
    </div>
</body>
</html>
