<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${event.title}">Event Details</title>
    </head>
    
    <body>
        <h1 th:text="${event.title}">Event Title</h1>
        <!-- <p><strong>Event ID:</strong> <span th:text="${event.id}">Event ID</span></p> -->
        <p><strong>Kuvaus:</strong> <span th:text="${event.description}">Event Description</span></p>
        <p><strong>Päivä ja aika:</strong> <span id="event-date" th:text="${event.eventDateTime}">Event Date & Time</span></p>
        <p><strong>Kategoria:</strong> <span th:text="${event.category.name}">Category Name</span></p>
        <a th:href="@{/events}">Takaisin</a>

    </body>
    <script>
        document.getElementById("event-date").textContent = new Date(document.getElementById("event-date").textContent).toLocaleString();
    </script>

</html>
